@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// Colours
$clr-red: hsl(0, 100%, 74%);
$clr-green: hsl(154, 59%, 51%);
$clr-blue: hsl(248, 32%, 49%);
$clr-blue-dark: hsl(249, 10%, 26%);
$clr-grey: hsl(246, 25%, 77%);
$clr-white: #ffffff;

// Fonts
$font-family-primary: "Poppins", sans-serif;
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
